:root {
  --dark-pink: #ED2643;
  --dark-sky:#2284B5;
}

.error {
  color: var(--dark-pink);
  font-size: 18px;
}

.success {
  color: var(--dark-sky);
  font-size: 18px;
}

.alert {
  color: black;
  font-size: 18px;
}