:root {
  --dark-pink: #ED2643;
  --pink: #FF8AAE;
  --light-pink: #F9DCE1;
  --dark-sky:#2284B5;
  --slate-blue: #404E88;
  --light-sky: #d4eefc;
  --minty: #A5DCE4;
  --choc-brown: #341A04;
}

.eventPgcontainer {
  width: 100%;
  height: 100vh;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  position: flex;
  margin-top: 70px;
}

.eventForm input, .description textarea {
  margin-bottom: 15px;
  padding: 8px;
  width: 300px;
  font-size: 14px;
  color: inherit;
  border: 1px solid currentcolor;
  border-radius: 3px;
  outline: 0px;
  box-sizing: border-box;
  appearance: none;
  transition: all 0.25s ease-in 0s;
} 

.description textarea {
  height: 60px;
}

.date input, .category-options {
  margin-bottom: 10px;
  font-size: 18px;
  color: inherit;
  border: 1px solid currentcolor;
  border-radius: 3px;
  outline: 0px;
  box-sizing: border-box;
  appearance: none;
  transition: all 0.25s ease-in 0s;
}

.createEvent-Btn {
  width: 220px;
  font-size: 16px;
  margin-top: 30px;
}

.createEvent-Btn:hover {
  background-color: var(--minty);
}

.backto-myEvents-Btn {
  padding: 8px;
}