:root {
  --dark-pink: #ED2643;
  --pink: #FF8AAE;
  --light-pink: #F9DCE1;
  --dark-sky:#2284B5;
  --slate-blue: #404E88;
  --light-sky: #d4eefc;
  --minty: #A5DCE4;
  --choc-brown: #341A04;
}

.event-card {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  width: 19rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}

.event-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.event-card__description {
  padding-bottom: 15px;
}

.suggestion__item {
  margin: 5px;
  height: 40px;
  width: 200px;
  border-radius:4px;
  border: solid 1px darkgray;
  background: white;
  cursor: pointer;
  transition: all 0.25s ease-in 0s;
}

.event-card__admin, .event-card__date {
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.suggestion__item:hover:not([disabled]) {
  box-shadow: 2px 2px 2px rgb(86, 86, 86);
}

.suggestion__item:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.voted {
  background: #A5DCE4;
}

.suggestion__item:disabled {
  color: rgb(100, 100, 100);
}

.no-sug-msg {
  margin: 10px;
}
