@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
.homeBody {
  position: absolute;
  margin: 10%;
  
}
.title {
  font-size: 70px;
  font-family: "Gloock";
  text-align: center;
}

.homeText {
  text-align: center;
  position: relative;
  margin: 5% 10%;
}

.btns {
  display: flex;
  flex-direction: column;
}

.btns .loginBtn {
  margin: 5% 30%;
  color: #060606;
  cursor: pointer;
  font-size: 23px;
  font-weight: 500;
  height: 4rem;
}

.btns .signUpBtn {
  margin: 5% 30%;
  color: #060606;
  cursor: pointer;
  font-size: 23px;
  font-weight: 500;
  height: 4rem;
}