li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__list {
  display: grid;
  grid-template-rows: auto;
  grid-gap: .5rem;
  margin: .5rem;
}

.card__item {
  background-color: white;
  border-radius:4px;
  border: solid 1px darkgray;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  padding: .5rem 1rem;
  margin: 0.25rem 0;
  text-align: left;
  font-weight: 400;
}

.google-map-locations {
  height: 60vh;
  width: 100%;
}

@media only screen and (max-width: 800px) {

  .google-map-locations {
    height: 200px;
  }
}