.locations-wrapper {
  padding: 1rem 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .column__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: .5rem;
  align-items: center;
} */

.column__item {
  border-radius: .2rem;
  /* background-color: #dfe3e6; */
  padding: .5rem;
}

.card__list {
  display: grid;
  grid-template-rows: auto;
  grid-gap: .5rem;
  margin: .5rem;
}

.card__item {
  background-color: white;
  border-radius:4px;
  border: solid 1px darkgray;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  padding: .5rem 1rem;
  margin: 0.25rem 0;
  text-align: left;
}

.google-map-locations {
  height: 60vh;
}

/* .double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
} */

@media only screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  /* .double-column {
    flex: 2
  } */
}