.loginPage {
  margin-top: 20%;
  position: flex;
}

.titleSignin {
  font-size: 50px;
  font-family: "Gloock";
  text-align: center;
}

.labels {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 10%;
}

.loginButton {
  justify-content: center;
}

.createNewAccount {
  font-size: 15px;
}

.signUpHere {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}