:root {
  --slate-blue: #404E88;
  --minty: #A5DCE4;
}

.labels {
  display: flex;
  flex-direction: column;
}

.labels input {
  align-self: center;
  margin-bottom: 15px;
  padding: 8px;
  width: 300px;
  font-size: 14px;
  color: inherit;
  border: 1px solid currentcolor;
  border-radius: 3px;
  outline: 0px;
  box-sizing: border-box;
  appearance: none;
  transition: all 0.25s ease-in 0s;
} 

.login-btn:hover {
  background-color: var(--minty);
}

.signUpHere {
  cursor: pointer;
  text-decoration: underline;
  color: var(--slate-blue);
}
