.loginPage {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  position: flex;
}

.titleSignin {
  font-size: 50px;
  font-family: "Coiny";
  text-align: center;
}

.labels {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.labels label {
  padding: 15px;
}

.labels input {
  /* width: 350px; */
  background-color: white;
}

.login button {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  color: #090909;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  width: 70px;
}

.createNewAccount {
  font-size: 15px;
}

.signUpHere {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
