.events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigate-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.event-cards {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-cards h4 {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

.event-cards__item, .voted-cards__item {
  /* padding-top: 0.5rem; */
}