:root {
  --light-pink: #F9DCE1;
  --minty: #A5DCE4;
  --choc-brown: #341A04;
}

.inputBox input {
  text-align: left;
  border: transparent;
  background-color: transparent;
  height: 30px;
  margin: 5px;
  font-size: 18px;
}

.inputBox label {
  font-size: 18px;
  margin-right: 20px;
}


