.navbar {
  background-color: rgb(144, 144, 245);
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.navbar .leftide {
  flex: 30%;
  align-items: center;
  display: flex;
  padding-right: 15px;
}
/* .right-side input {
  width: 200px;
  height: 30px;
  border-style: solid;
  border-radius: 4px;
  font-size: 17px;
}

.right-side button {
  height: 30px;
  width: 70px;
  font-size: 17px;
} */
.navbar .rightSide .links {
  max-height: 150px;
}
.navbar .rightSide .links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.navbar .rightSide #hidden {
  display: flex;
}

.navbar .rightSide {
  display: flex;
  flex: 70%;
  justify-content: right;
  align-items: center;
}

.navbar .right-side .nav-button {
  display: none;
  margin-left: 14px;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .navbar .rightSide .links a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 750px) {
  .navbar .rightSide .links a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 650px) {
  .navbar .rightSide .links {
    display: none;
  }
  .navbar .rightSide .nav-button {
    display: flex;
  }
  .navbar .left-side #hidden {
    position: absolute;
    left: 0;
    top: 60px;
    height: auto;
    width: 100%;
    background-color: rgb(144, 144, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .left-side #hidden a {
    margin: 3px;
    font-size: 15px;
  }
}
