:root {
  --dark-pink: #ED2643;
  --pink: #FF8AAE;
  --light-pink:#ffacc6;
  --dark-sky:#2284B5;
  --sky: #44C3E6;
  --light-sky: #d4eefc;
  --yellow:#FFF89A;
  --light-orange:#FFB2A6;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-sky);
}

.navbar {
  background-color: white;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.navbar .leftSide {
  flex: 50%;
  display: flex;
}
.navbar .rightSide .links {
  max-height: 80px;
}
.icons .closingIcon {
  color: var(--dark-pink);
  size: 1.5rem;
  margin-top: 20px;
}

.navbar .rightSide .links a {
  text-decoration: none;
  color: var(--dark-pink);
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.navbar .rightSide #hidden {
  display: flex;
}

.navbar .rightSide {
  flex: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
}

.navbar .right-side .nav-button {
  display: none;
  margin-left: 14px;
  margin-top: 20px;
}

.navbar .rightSide .links a:hover {
  cursor: pointer;
  color: var(--dark-sky);
}

@media only screen and (max-width: 980px) {
  .navbar .rightSide .links a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 830px) {
  .navbar .rightSide .links a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 730px) {
  .navbar .rightSide .links {
    display: none;
  }
  .rightSide #hidden {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
    position: fixed;
    top: 90px;
    right: 0px;
    width: 200px;
    background-color: white;
    font-size: 15px;
  }
  .navbar .rightSide .links a {
    text-decoration: none;
    color: var(--dark-pink);
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    background-color: white;
  }
}
