:root {
  --dark-pink: #ED2643;
  --slate-blue: #404E88;
  --minty: #A5DCE4;
}

.star {
  color: var(--dark-pink);
}

.input-box input {
  align-self: center;
  margin-bottom: 15px;
  padding: 8px;
  width: 200px;
  font-size: 14px;
  color: inherit;
  border: 1px solid currentcolor;
  border-radius: 3px;
  outline: 0px;
  box-sizing: border-box;
  appearance: none;
  transition: all 0.25s ease-in 0s;
} 

.signup-btn:hover {
  background-color: var(--minty);
}

.loginHere {
  cursor: pointer;
  text-decoration: underline;
  color: var(--slate-blue);
}
