.voted-card {
  background-color: white;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 18rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.voted-card-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.voted-card__title {
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.voted-card__description {
  padding-bottom: 15px;
}

.voted-card__voted-suggestion {
  padding: 5px;
  margin-bottom: 10px;
  height: 40px;
  border-radius:10px;
  border: solid 1px darkgray;
  background: rgb(131, 248, 131);
  /* margin: 5px;
  height: 40px;
  width: 200px;
  border-radius:10px;
  border: solid 1px darkgray;
  background: rgb(131, 248, 131);
  cursor: pointer; */
}

.voted-card__admin, .voted-card__date {
  font-size: 0.8rem;
  padding-bottom: 10px;
}