:root {
  --dark-pink: #ED2643;
  --pink: #FF8AAE;
  --light-pink: #F9DCE1;
  --dark-sky:#2284B5;
  --slate-blue: #404E88;
  --light-sky: #d4eefc;
  --minty: #A5DCE4;
  --choc-brown: #341A04;
}

.voted-card {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  width: 19rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}

.voted-card-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.voted-card__map-button {
  cursor: pointer;
  font-weight: 500;
  padding: px;
  border-radius: 100%;
  /* border: 0.5px solid var(--choc-brown); */
  border: none;
  width: 30px;
  height: 30px;
  color: var(--choc-brown);
  background: white;
  transition: all 0.25s ease;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -12px;
  margin-right: -12px;
}

.voted-card__map-button:hover {
  background-color: var(--light-pink);
}

.voted-card__description {
  padding-bottom: 15px;
}

.voted-card__voted-suggestion {
  padding: 5px;
  margin-bottom: 10px;
  height: 40px;
  border-radius:4px;
  border: solid 1px darkgray;
  background: #A5DCE4;
  font-weight: 500;
}

.voted-card__participants, .voted-card__date {
  font-size: 0.8rem;
  padding-bottom: 10px;
  font-weight: 400;
}